
body {
    width: 600px;
    margin: 0 auto;
    /*background-color: #003F88;*/
    padding: 0 20px 20px 20px;
    border: 1px solid black;
    font-size: 15px;
    }

.photo {
    width: 300px;
    height: 170px;
    float: right;
    position: relative;
}
#myphoto{
    display: block;
    margin: 0 auto;
    width: auto;
    height: 165px;
    position: absolute;
    right: 0;
    top: 0;
}

.info {
    width: 300px;
    height: 170px;
    float: left;
}
h1 {
    margin: 0 0 5px 0;
    padding: 0;
    color: black;
    text-align: left;
    font-size: 35px;
}

h2 {
    margin: 0 0 0 0;
    padding: 15px 0 0 0;
    color: black;
    text-align: left;
    font-size: 15px;
    text-align: center;
}
hr {
    margin:0;
    padding:0;
}

p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 12px;
}
.school {
    width: 450px;
    height: 130px;
    float:left;
}
.time {
    margin:3px 0 -3px 0;
    width:150px;
    height:130px;
    float:right;
    font-size:13px;
}